<!-- ###TEMPLATE### begin -->
<p>###COUNTRY###</p>
###MAPS###
###ADDRESSLIST###
<!-- ###TEMPLATE### end -->


<!-- ###ADDRESSLISTS### begin -->
###JSOUTPUT###
<!-- ###ROW### -->
<div class="tx_staddressmap_addresslist_item">
	<b>###COMPANY###</b><br />
	###ADDRESS###
	###ZIP### ###CITY###

	<div class="tx_staddressmap_align_right">
		###PHONE###
		###EMAIL###
		###DESCRIPTION###
	</div>
	###REGION###
	###COUNTRY###
	<p><b>###DISTANCE###</b></p>
</div>
<!-- ###ROW### -->
<!-- ###ADDRESSLISTS### end -->
